@import "tailwindcss";

:root {
  --background: #9b9797;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), sans-serif;
}